{% load static %}
<!-- Footer -->
<footer class="m-t-15">
<div class="mn-footer">
    <div class="footer-container">
        <div class="footer-top p-tb-30">
            <div class="row m-minus-991">
                <div class="col-sm-12 col-lg-3 mn-footer-cat">
                    <div class="mn-footer-widget mn-footer-company">
                        <img src="{% static 'assets/img/logo/logo.png' %}" class="mn-footer-logo" alt="footer logo">
                        <img src="{% static 'assets/img/logo/logo-dark.png' %}" class="mn-footer-dark-logo"
                            alt="footer logo">
                        <p class="mn-footer-detail"> {{ about_us.slogan }} </p>
                        <div class="mn-app-store">
                            <a href="javascript:void(0)" class="app-img">
                                <img src="{% static 'assets/img/footer/android.png' %}" class="adroid" alt="apple">
                            </a>
                            <a href="javascript:void(0)" class="app-img">
                                <img src="{% static 'assets/img/footer/apple.png' %}" class="apple" alt="apple">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2 mn-footer-info">
                    <div class="mn-footer-widget">
                        <h4 class="mn-footer-heading">Category</h4>
                        <div class="mn-footer-links mn-footer-dropdown">
                            <ul class="align-items-center">
                                {% for cate in six_first_category %}
                                <li class="mn-footer-link">
                                    <a href="{% url 'products:category_products' cate.slug %}">{{ cate.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2 mn-footer-account">
                    <div class="mn-footer-widget">
                        <h4 class="mn-footer-heading">Company</h4>
                        <div class="mn-footer-links mn-footer-dropdown">
                            <ul class="align-items-center">
                                <li class="mn-footer-link">
                                    <a href="{% url 'home:about_us' %}">About us</a>
                                </li>
                                <li class="mn-footer-link">
                                    <a href="{% url 'home:contact_us' %}">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2 mn-footer-service">
                    <div class="mn-footer-widget">
                        <h4 class="mn-footer-heading">Account</h4>
                        <div class="mn-footer-links mn-footer-dropdown">
                            <ul class="align-items-center">
                                {% if user.is_authenticated %}
                                <li class="mn-footer-link">
                                    <a href="{% url 'account_logout' %}">Logout</a>
                                </li>
                                <li class="mn-footer-link">
                                    <a href="{% url 'products:user_wishlist' request.user.id %}">View Wishlist</a>
                                </li>
                                {% else %}
                                <li class="mn-footer-link">
                                    <a href="{% url 'account_login' %}">Login</a>
                                </li>
                                <li class="mn-footer-link">
                                    <a href="{% url 'account_signup' %}">Register</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 mn-footer-cont-social">
                    <div class="mn-footer-contact">
                        <div class="mn-footer-widget">
                            <h4 class="mn-footer-heading">Contact</h4>
                            <div class="mn-footer-links mn-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="mn-footer-link mn-foo-location">
                                        <span class="mt-15px">
                                            <i class="ri-map-pin-line"></i>
                                        </span>
                                        <p>{{ contact_us.address }}
                                        </p>
                                    </li>
                                    <li class="mn-footer-link mn-foo-call">
                                        <span>
                                            <i class="ri-whatsapp-line"></i>
                                        </span>
                                        <a href="tel:{{ contact_us.phone_number }}">{{ contact_us.phone_number }}</a>
                                    </li>
                                    <li class="mn-footer-link mn-foo-mail">
                                        <span>
                                            <i class="ri-mail-line"></i>
                                        </span>
                                        <a href="mailto:{{contact_us.email }}">{{contact_us.email }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mn-footer-social">
                        <div class="mn-footer-widget">
                            <div class="mn-footer-links mn-footer-dropdown">
                                <ul class="align-items-center">
                                 <li class="mn-footer-link">
                                        <!-- Private WhatsApp Chat -->
                                        <a href="https://wa.me/+93777040973" target="_blank" title="Chat on WhatsApp">
                                            <i class="ri-whatsapp-fill"></i>
                                        </a>
                                    </li>

                                    <li class="mn-footer-link">
                                        <!-- WhatsApp Group Invite -->
                                        <a href="{{ social_media_links.whatsapp }}" target="_blank" title="Join WhatsApp Group">
                                            <i class="ri-whatsapp-line"></i>
                                        </a>
                                    </li>

                                    <li class="mn-footer-link">
                                        <!-- TikTok -->
                                        <a href="{{ social_media_links.tiktok }}" target="_blank" title="TikTok">
                                            <i class="ri-tiktok-fill"></i>
                                        </a>
                                    </li>

                                    <li class="mn-footer-link">
                                        <a href="{{ social_media_links.instagram }}"><i class="ri-instagram-line" title="Instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="mn-bottom-info">
                    <div class="footer-copy">
                        <div class="footer-bottom-copy ">
                            <div class="mn-copy">
                                <a class="site-name" href="/"> Produced By KMS
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-right">
                        <div class="footer-bottom-payment d-flex justify-content-center">
                            <div class="payment-link">
                                <img src="{% static 'assets/img/footer/payment.png' %}" alt="payment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>